@if (ViewBag.ErrorTitle == null)
{
    <h3>An exception error occured while processing your request.</h3>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
}


